.gradle
build/
bin/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.git
.gitignore
.gitattributes
README.md
HELP.md
.env
.env.local
.env.prod
*.log
.DS_Store
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
ci-cd.yaml
.github
